<!DOCTYPE html>
<html>
<head>
  <title>Admin page</title>
  <script src="https://unpkg.com/vue"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="admin.js"></script>
</head>
<body>

  <div id="app">
    <h1>Welcome to the {{ gameState }}</h1>
    <ol>
      <li v-for="player in players">
        {{ player.name }} <button v-on:click="removePlayer(player.name)">Remove</button>
                          <button v-on:click="kickPlayer(player.name)">Kick</button>
      </li>
    </ol>
  <input type="text" v-model="inputName" placeholder="your name here"><button id="add" v-on:click="addPlayer">Add</button>
  <button id="start" v-on:click="startGame">Start</button>
  <button id="end" v-on:click="endGame">End game</button>
</div>
  
</body>
</html>