body {
    background-color: bisque;

}

.die {
    height: 60px;
    width: 60px;
    background-color: chocolate;
    padding: 10px;
    margin: 10px;

}

.fixed {
    border-color: darkmagenta;
    background-color: darkred;
}

.score {
    height: 200px;
    width: 130px;
    padding: 10px;
    margin: 10px;
    background-color: darkgreen;
}
