body {
    background-color: bisque;

}


.die {
    height: 60px;
    width: 60px;
    background-color: chocolate;
    padding: 10px;
    margin: 10px;

}

.fixed {
    background-color: rgb(161, 98, 98);
}

.used.fixed {
    background-color: lightgray;
}

.fixed.using {
    background-color: lime;
}

.ordered {
    border: 2px solid black;
    height: 56px;
    width: 56px;
}

.scoreHolder {
    display: flex;
}

.score {
    height: 200px;
    width: 130px;
    padding: 10px;
    margin: 10px;
    background-color: darkgreen;
}

.score.dead {
    background-color: #0064005b;
}

.score.current {
    background-color: #cfb128;
}

.dieOrderElement {
    border: 1px solid red;
}

.dieElement {
    border: 1px solid blue;
}

button:disabled {
    opacity: 0.1;
}